:root {
  /* colors */
  --color-primary: hsl(183.6, 100%, 32.5%);
  --color-secondary: hsl(49.2, 100%, 50%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  /* fonts */
  --font-family-serif: 'Roboto', serif;
  --font-family-sans-serif: 'Loro', san-serif;
  /* sizes */
  --font-size-300: .875rem;
  --font-size-600: 1rem;
  --font-size-700: 1.875rem;
  --font-size-800: 2.5rem;
  --font-size-900: 3.5rem;
  /* weight */
  --font-weight-regular: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list properties */
ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-600);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  color: var(--color-black);
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav_link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: var(--color-black);
  transition: 0.5s;
}

.nav_link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.section {
  width: 50%;
}

.section_title {
  font-size: var(--font-size-700);
  font-weight: var(--font-weight-semi-bold);
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: var(--color-black);
}

.image_avatar {
  width: 20%;
  border-radius: 50%;
}

.link {
  padding: 0;
  line-height: 25px;
  text-decoration: none;
  color: var(--color-black);
  transition: 0.5s;
}

.logo {
  width: 125px;
  height: 45px;
  background-image: url("./assets/svg/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}