:root {
    --color-primary-green: hsl(97, 73%, 35%);
    --color-primary-orange: hsl(18, 74%, 54%);

    --color-auxiliry-grey: hsl(0, 0%, 44%);
    --color-auxiliry-dark-grey: hsl(0, 2%, 38%);

    --color-background-section: hsl(110, 19%, 94%);

    --font-family-inika: 'Inika', serif;
    --font-family-inter: 'Inter', sans-serif;

    --font-weight-regular: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;

    --font-size-10: .625rem;
    --font-size-15: .9375rem;
    --font-size-16: 1rem;
    --font-size-20: 1.25rem;
    --font-size-25: 1.5625rem;
    --font-size-35: 2.1875rem;
    --font-size-40: 2.5rem;
    --font-size-45: 2.8125rem;

    --font-size-nav: var(--font-size-16);
    --font-size-button: var(--font-size-20);
    --font-size-hero: var(--font-size-45);
    --font-size-text: var(--font-size-20);
    --font-size-capture: var(--font-size-16);
    --font-size-title: var(--font-size-40);
    --font-size-sub_title: var(--font-size-20);
}


.item {
    width: 300px;
    background-color: var(--color-background-section);
    font-family: var(--font-family-inter);
    padding: 20px;
    font-size: var(--font-size-text);
}